body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-catamaran: Catamaran;
  --font-amiri-quran-colored: "Amiri Quran Colored";
  --font-amaranth: Amaranth;
  --font-actor: Actor;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #2d2b2b;
  --color-gray-200: #232323;
  --color-gray-300: #1c1b1b;
  --color-gray-400: #060101;
  --color-whitesmoke: #f0f0f0;
  --color-mistyrose: #e9d1d1;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-xl: 20px;
}
