.create-account1,
.frame-child8 {
  cursor: pointer;
  position: absolute;
  top: 21px;
  left: 1233px;
  width: 236px;
  height: 54px;
}
.frame-child8 {
  overflow: hidden;
}
.create-account1 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-11xl);
  display: flex;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  align-items: center;
}
.screenshot-2023-08-09-132538-14 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 208px;
  height: 78px;
  object-fit: cover;
}
.frame-button,
.frame-parent10 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 21px;
  width: 200px;
  height: 86px;
}
.frame-parent10 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 1512px;
  height: 94px;
  opacity: 0.7;
}
.contact-us4,
.frame-child9,
.privacy4 {
  position: absolute;
  top: 21px;
  height: 44px;
}
.frame-child9 {
  left: 174px;
  width: 178px;
  overflow: hidden;
}
.contact-us4,
.privacy4 {
  left: 170px;
  display: flex;
  font-weight: 600;
  align-items: center;
  width: 182px;
}
.contact-us4 {
  top: 0;
  left: 0;
  width: 236px;
  height: 48px;
}
.contact-us-wrapper2 {
  position: absolute;
  top: 21px;
  left: 623px;
  width: 265px;
  height: 55px;
  overflow: hidden;
  color: var(--color-whitesmoke);
}
.blog4 {
  position: absolute;
  top: 3px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 256px;
  height: 41px;
}
.blog-wrapper1,
.frame-child10,
.frame-parent11 {
  position: absolute;
  top: 25px;
  left: 888px;
  width: 246px;
  height: 44px;
  overflow: hidden;
}
.frame-child10,
.frame-parent11 {
  top: 19px;
  left: 413px;
  width: 100px;
  height: 100px;
}
.frame-parent11 {
  top: 888px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1512px;
  height: 94px;
  opacity: 0.5;
}
.terms-of-use5 {
  position: absolute;
  top: 0;
  left: 9px;
  display: flex;
  font-weight: 600;
  align-items: center;
  width: 212px;
  height: 42px;
}
.terms-of-use-wrapper3 {
  position: absolute;
  top: 911px;
  left: 352px;
  width: 200px;
  height: 42px;
  overflow: hidden;
  opacity: 0.5;
  color: var(--color-whitesmoke);
}
.the-little-things-home-office {
  position: absolute;
  top: 436px;
  left: 848px;
  width: 640px;
  height: 475px;
  object-fit: cover;
  opacity: 0.5;
}
.frame-child11,
.line-div {
  position: absolute;
  top: 231.5px;
  left: 372.5px;
  border-top: 1px solid var(--color-mistyrose);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.frame-child11 {
  left: 32.5px;
}
.continue1,
.or1 {
  position: absolute;
  top: 218px;
  left: 261px;
  display: flex;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 28px;
}
.continue1 {
  top: 3px;
  left: -13px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-inter);
  width: 222px;
  mix-blend-mode: normal;
}
.continue-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 342px;
  left: 201px;
  width: 227px;
  height: 34px;
  overflow: hidden;
}
.frame-child12,
.frame-child13 {
  position: absolute;
  left: 146px;
  border: 1px solid var(--color-mistyrose);
  box-sizing: border-box;
  width: 282px;
  overflow: hidden;
}
.frame-child12 {
  top: 95px;
  background-color: #a8a8a8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  height: 36px;
}
.frame-child13 {
  top: 149px;
  background-color: #b5b5b5;
  backdrop-filter: blur(4px);
  height: 35px;
}
.email-id,
.password {
  position: absolute;
  top: 93px;
  left: 151px;
  display: flex;
  font-weight: 600;
  align-items: center;
  width: 272px;
  height: 38px;
}
.password {
  top: 148px;
  height: 36px;
}
.frame-child14,
.frame-child15 {
  position: absolute;
  top: 231.5px;
  left: 372.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.frame-child15 {
  left: 32.5px;
}
.frame-child16 {
  position: absolute;
  top: 342px;
  left: 201px;
  width: 227px;
  height: 34px;
  overflow: hidden;
}
.frame-child17,
.frame-child18 {
  position: absolute;
  left: 146px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 282px;
  overflow: hidden;
}
.frame-child17 {
  top: 95px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  height: 36px;
}
.frame-child18 {
  top: 149px;
  backdrop-filter: blur(4px);
  height: 35px;
}
.password1 {
  position: absolute;
  top: 148px;
  left: 151px;
  display: flex;
  font-weight: 500;
  align-items: center;
  width: 272px;
  height: 36px;
}
.icon-google1,
.icon-linkedin-original1 {
  position: absolute;
  height: 16.54%;
  width: 11.22%;
  top: 63.95%;
  right: 36.01%;
  bottom: 19.51%;
  left: 52.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-google1 {
  height: 15.8%;
  width: 11.06%;
  right: 51.93%;
  bottom: 20.25%;
  left: 37.02%;
}
.line-group,
.line-parent {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-gray-100);
  width: 597px;
  height: 405px;
  overflow: hidden;
  opacity: 0.7;
  color: var(--color-gray-100);
}
.line-parent {
  top: 288px;
  left: 458px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  opacity: 0.9;
  color: var(--color-black);
}
.sign-in4 {
  position: absolute;
  top: 17px;
  left: 206px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 49px;
}
.sign-in-wrapper2 {
  position: absolute;
  top: 288px;
  left: 458px;
  width: 596px;
  height: 83px;
  overflow: hidden;
  text-align: center;
}
.lifesavers-bust-icon {
  position: absolute;
  top: 145px;
  left: 0;
  width: 1058px;
  height: 691px;
  object-fit: cover;
  opacity: 0.7;
}
.macbook-pro-14-4 {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 982px;
  overflow: hidden;
  opacity: 0.8;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
