.frame-child6 {
  position: absolute;
  top: 21px;
  left: 1233px;
  width: 236px;
  height: 54px;
  overflow: hidden;
}
.screenshot-2023-08-09-132538-13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 8px;
  left: 21px;
  width: 208px;
  height: 78px;
  background-image: url(./public/screenshot-20230809-132538-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vector-icon2,
.vector-icon3 {
  max-width: 100%;
  max-height: 100%;
}
.vector-icon2 {
  position: absolute;
  height: 27.94%;
  width: 69.74%;
  top: 61.03%;
  right: 15.13%;
  bottom: 11.03%;
  left: 15.13%;
  overflow: hidden;
}
.vector-icon3 {
  height: 36.27%;
  width: 36.41%;
  top: 11.03%;
  right: 31.8%;
  bottom: 52.7%;
  left: 31.79%;
}
.frame-parent7,
.user1,
.vector-icon3 {
  position: absolute;
  overflow: hidden;
}
.user1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13px;
  left: 1318px;
  width: 65px;
  height: 68px;
}
.frame-parent7 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1512px;
  height: 94px;
  opacity: 0.7;
}
.contact-us3,
.frame-child7,
.privacy3 {
  position: absolute;
  top: 21px;
  height: 44px;
}
.frame-child7 {
  left: 174px;
  width: 178px;
  overflow: hidden;
}
.contact-us3,
.privacy3 {
  left: 170px;
  display: flex;
  font-weight: 600;
  align-items: center;
  width: 182px;
}
.contact-us3 {
  top: 0;
  left: 0;
  width: 236px;
  height: 48px;
}
.contact-us-wrapper1 {
  position: absolute;
  top: 21px;
  left: 623px;
  width: 265px;
  height: 55px;
  overflow: hidden;
  color: var(--color-whitesmoke);
}
.blog3 {
  position: absolute;
  top: 3px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 256px;
  height: 41px;
}
.blog-frame {
  position: absolute;
  top: 21px;
  left: 859px;
  width: 246px;
  height: 44px;
  overflow: hidden;
}
.terms-of-use3 {
  position: absolute;
  top: 0;
  left: 9px;
  display: flex;
  font-weight: 600;
  align-items: center;
  width: 212px;
  height: 42px;
}
.terms-of-use-wrapper1 {
  position: absolute;
  top: 21px;
  left: 352px;
  width: 200px;
  height: 42px;
  overflow: hidden;
  opacity: 0.8;
  color: var(--color-whitesmoke);
}
.frame-parent8 {
  position: absolute;
  top: 888px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1512px;
  height: 94px;
  overflow: hidden;
  opacity: 0.5;
}
.sign-in3 {
  position: absolute;
  top: 17px;
  left: 206px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 49px;
}
.sign-in-wrapper1 {
  position: absolute;
  top: 288px;
  left: 458px;
  width: 596px;
  height: 83px;
  overflow: hidden;
  text-align: center;
  color: var(--color-gray-400);
}
.macbook-pro-14-6-child {
  position: absolute;
  top: 1011px;
  left: 168px;
  background-color: var(--color-white);
  width: 213px;
  height: 193px;
  overflow: hidden;
}
.featured-events {
  position: absolute;
  top: 149px;
  left: 167px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  display: inline-block;
  width: 406px;
  height: 61px;
}
.search-icon {
  position: absolute;
  top: 7px;
  left: 0;
  width: 54px;
  height: 55px;
  overflow: hidden;
}
.search-for-events {
  position: absolute;
  top: 4px;
  left: 77px;
  display: flex;
  align-items: center;
  width: 742px;
  height: 60px;
}
.search-parent {
  position: absolute;
  top: 220px;
  left: 171px;
  border-radius: var(--br-3xs);
  background-color: #8d8d8d;
  width: 1164px;
  height: 68px;
  overflow: hidden;
  opacity: 0.7;
  color: #0e0000;
  font-family: var(--font-actor);
}
.macbook-pro-14-6-item {
  position: absolute;
  top: 160px;
  left: 1103px;
  border-radius: var(--br-xl);
  background-color: #0d09dd;
  width: 232px;
  height: 40px;
  overflow: hidden;
}
.create-a-event {
  margin: 0;
}
.create-a-event-container {
  position: absolute;
  top: 164px;
  left: 1117px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-amaranth);
  color: snow;
  white-space: pre-wrap;
  display: inline-block;
  width: 203px;
  height: 42px;
}
.terms-of-use-wrapper2 {
  position: absolute;
  top: 607px;
  left: 198px;
  width: 200px;
  height: 42px;
  overflow: hidden;
  opacity: 0.5;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.networking-event-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 595px;
  height: 396px;
  object-fit: cover;
}
.networking-event-1-wrapper {
  position: absolute;
  top: 11px;
  left: 18px;
  background-color: var(--color-white);
  width: 213px;
  height: 193px;
  overflow: hidden;
  cursor: pointer;
}
.c9d90189-0256-4450-b2d0-73df91-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 360px;
  object-fit: cover;
}
.c9d90189-0256-4450-b2d0-73df91-wrapper {
  position: absolute;
  top: 243px;
  left: 16px;
  background-color: var(--color-white);
  width: 213px;
  height: 193px;
  overflow: hidden;
}
.group-of-coworkers-hugging-at {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 500px;
  object-fit: cover;
}
.group-of-coworkers-hugging-at-wrapper {
  position: absolute;
  top: 480px;
  left: 14px;
  background-color: var(--color-white);
  width: 213px;
  height: 193px;
  overflow: hidden;
}
.ifa-is-a {
  position: absolute;
  top: 66px;
  left: 2px;
  display: inline-block;
  width: 896px;
  height: 124px;
}
.ifa-is-a-versatile-consumer-el-wrapper {
  position: absolute;
  top: 14px;
  left: 266px;
  width: 909px;
  height: 190px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.ifa2023-berlin {
  position: absolute;
  top: 11px;
  left: 266px;
  display: inline-block;
  width: 898px;
  height: 56px;
}
.consumer-electronics-tradeshow,
.network-like-a {
  position: absolute;
  top: 18px;
  left: 7px;
  display: inline-block;
  width: 891px;
  height: 53px;
}
.network-like-a {
  top: 87px;
  left: 2px;
  font-size: var(--font-size-xl);
  width: 896px;
  height: 108px;
}
.consumer-electronics-tradeshow-parent {
  position: absolute;
  top: 241px;
  left: 266px;
  width: 898px;
  height: 195px;
  overflow: hidden;
}
.all-crucial-information {
  position: absolute;
  top: 78px;
  left: 0;
  display: flex;
  align-items: center;
  width: 894px;
  height: 111px;
}
.all-crucial-information-about-wrapper {
  position: absolute;
  top: 484px;
  left: 270px;
  width: 894px;
  height: 189px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.barcelona {
  font-family: var(--font-amaranth);
}
.mobile-world-congress-container1 {
  line-break: anywhere;
  width: 100%;
}
.mobile-world-congress-container {
  position: absolute;
  top: 481px;
  left: 268px;
  display: flex;
  align-items: center;
  width: 896px;
  height: 61px;
  font-family: var(--font-actor);
}
.frame-parent9,
.macbook-pro-14-6-inner {
  position: absolute;
  top: 2px;
  left: 85px;
  width: 1218px;
  height: 1295px;
  overflow: hidden;
}
.macbook-pro-14-6-inner {
  top: 302px;
  left: 69px;
  width: 1357px;
  height: 557px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-amaranth);
}
.macbook-pro-14-6 {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 982px;
  overflow: hidden;
  opacity: 0.8;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
